html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
}

@font-face{
  font-family: fontVCR;
  src: url("Fonts/VCR_OSD_MONO_1.001.ttf");
}

button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;

}


.stopButton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: red;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-family: fontVCR;
  border-radius: 50px;
}

.restartButton{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: fontVCR;
  border-radius: 50px;

}

/*.backButton{
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 50px;

}

.disabledButton{
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 50px;
  opacity: 0.6;
  cursor: not-allowed;
}*/

.popUpButton {
  background-color: rgba(255, 0, 0, 0);
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: fontVCR;
  border-radius: 50px;

}